{% extends "base.html" %}
{% block title %}Synit Web{% endblock %}
{% block content %}
<div class="p-5" style="background-color: rgb(180, 0, 0);">
    <h2 class="text-center" style="color:aliceblue">SynitIsCool</h2>
    <hr class="my-2"/>
    <p class="lead text-center" style="color:aliceblue">
        Hi, i'm synit aka me the owner of this website, this website is use to present my work like what 
        i worked on, what i'm working on, or about my api that i use for production to make some application 
        and can be use easily in any devices. I'm into AI field, i made some API or project related to AI 
        just for fun.
    </p>
    <p class="lead text-center" style="color:aliceblue">
        Why my name is synit, to be honest i don't know why
    </p>
    <br/>
</div>
{% endblock %}