{% extends "project_base.html" %}
{% block project_content %}
<div class="p-5 ">
    <h1>The Content</h1>
    <hr class="my-2"/>
    <p class="lead">This is the content of netflix dataset that i worked on</p>
    <br/>
    <h2>Recommender System Project</h2>
    <hr class="my-2"/>
    <p class="lead">
        The project is about making recommender system with netflix dataset, that can recommend movies to 
        the users after users search movies that available in dataset and provide recommend movies based on 
        movies that user search. For the source code you can check out in my github pages in 
        <a href="https://github.com/SynitCool/Recommend-system" target="_blank">here</a>
    </p>
    <br/>
    <h2>Analysis Best Rated Movies Project</h2>
    <hr class="my-2"/>
    <p class="lead">
        The project is about making analysis to best rated movies with netflix dataset, in this project i made
        analysis about best rated movies project that you can check the bar plot that i made, to show best rated 
        movies in the dataset that i merged netflix dataset and imdb dataset to show best rated movies that 
        available in netflix dataset, and i made some visualize to show how good is the movies based on analysis that 
        i made. For the source code you can check out in my github pages in 
        <a href="https://github.com/SynitCool/Best-rated-movies-netflix" target="_blank">here</a>
    </p>
    <br/>
    <h2>Analysis Rating Shows Project</h2>
    <hr class="my-2"/>
    <p class="lead">
        The project is about making analysis to show rating shows in netflix dataset, in this project i made
        analysis about rating shows and consider to actors, year the show is made, in this analysis i made 
        some bar plot to show rating of each show and this analysis i merged netflix dataset and imdb dataset 
        to show rating of each show that available in netflix dataset. 
        For the source code you can check out in my github pages in 
        <a href="https://github.com/SynitCool/Rating-shows" target="_blank">here</a>
    </p>
    <br/>
    <h2>Analysis Top Actors Project</h2>
    <hr class="my-2"/>
    <p class="lead">
        The project is about making analysis to show top actors, types, etc in netflix dataset, in this project
        i visualized about top actors based on features in dataset, and also i visualize most popular actors 
        in netflix dataset. The visualize also show about other things like types of shows, actors of shows, 
        that available in netflix dataset. For the source code you can check out in my github pages in 
        <a href="https://github.com/SynitCool/Top-actors-netflix" target="_blank">here</a>
    </p>
</div>
{% endblock %}