{% extends "project_base.html" %}
{% block project_content %}
<div class="p-5">
    <h1 class="text-center">Overview Netflix Project</h1>
    <p class="lead text-center">
        This is a project that i worked on with netflix dataset that got in kaggle website that you can 
        check out in sub credit. This project is about to make analysis about movies, 
        make recommender system, make analysis about top actors in netflix dataset, make analysis about 
        best rated movies in netflix dataset, make analysis about rating shows 
        in netflix dataset, make analysis about best rated movies in netflix dataset and in this project 
        i merge the netflix dataset with imdb dataset
    </p>
</div>
{% endblock %}