{% extends "project_base.html" %}
{% block project_content %}
<!-- Content of mushrooms projects -->
<div class="p-5">
    <!-- Title and overview -->
    <title_overview>
        <h1>The Content</h1>
        <hr class="my-2"/>
        <p class="lead">The content of mushrooms projects or the description of mushrooms projects</p>
    </title_overview>
    <!-- Title and overview -->
    <br/>
    <!-- Tabular problem -->
    <tabular_problem>
        <h2>Tabular Problem</h2>
        <hr class="my-2"/>
        <p class="lead">
            The problem with dataset that have tabular form or looks like table, the problem that is trying 
            to solve is to classify the mushrooms that are poison or not, in addition in this problem 
            trying to use various of features selection technique to know more about the feature selection 
            such as with chi2, ANOVA, mutual info, decision tree, etc. For source code is available in my github in 
            <a href="https://github.com/SynitCool/Data-Science/tree/main/Mushrooms/Tabular" target="_blank">here</a>
        </p>
    </tabular_problem>
    <!-- Tabular problem -->
    <br/>
    <!-- Computer vision problem -->
    <computer_vision>
        <h2>Computer Vision Problem</h2>
        <hr class="my-2"/>
        <p class="lead">
            In this problem, of course using images dataset, trying to solve is to classify the types of mushrooms 
            with images the dataset that is from kaggle, the framework is used in this problem is Tensorflow and 
            try to make best model based on the accuracy metrics, in addition trying to use various color space 
            to know more about the effect of color space to accuracy in modelling. For source code is 
            available in my github in <a href="https://github.com/SynitCool/Data-Science/tree/main/Mushrooms/Computer%20Vision" target="_blank">here</a>
        </p>
    </computer_vision>
</div>
<!-- Content of mushrooms projects -->
{% endblock %}