{% extends "project_base.html" %}
{% block project_content %}
<!-- The credit of mushrooms project -->
<div class="p-5">
    <!-- Title and overview -->
    <title_overview>
        <h1>Credits</h1>
        <hr class="my-2"/>
    </title_overview>
    <!-- Title and overview -->
    <br/>
    <!-- Dataset -->
    <dataset>
        <h3>Dataset</h3>
        <hr class="my-2"/>
        <lu>
            <li>Tabular dataset in <a href="https://www.kaggle.com/uciml/mushroom-classification" target="_blank">here</a></li>
            <li>Computer vision dataset in <a href="https://www.kaggle.com/maysee/mushrooms-classification-common-genuss-images" target="_blank">here</a></li>
        </lu>
    </dataset>
    <!-- Dataset -->
    <br/>
    <!-- Repository-->
    <repository>
        <h3>Repository</h3>
        <hr class="my-2"/>
        <lu>
            <li>Tabular Problem / <a href="https://github.com/SynitCool/Data-Science/tree/main/Mushrooms/Tabular" target="_blank">here</a></li>
            <li>Computer Vision Problem / <a href="https://github.com/SynitCool/Data-Science/tree/main/Mushrooms/Computer%20Vision" target="_blank">here</a></li>
        </lu>
    </repository>
    <!-- Repository -->
    <br/>
    <!-- Contributors -->
    <contributors>
        <h3>Contributors</h3>
        <hr class="my-2"/>
        <ul>
            <li>SynitIsCool / me</li>
        </ul>
    </contributors>
    <!-- Contributors -->
    <br/>
    <!-- Created -->
    <created>
        <h3>Created</h3>
        <hr class="my-2"/>
        <p class="lead">Oct, 2021</p>
    </created>
    <!-- Created -->
</div>
<!-- The credit of mushrooms project -->
{% endblock %}