{% extends "project_base.html" %}
{% block project_content %}
<!-- Overview description -->
<div class="p-5">
    <h1 class="text-center">Overview Mushrooms Project</h1>
    <p class="lead text-center">
        Mushrooms project is the project with mushrooms theme and the problems in this project that try 
        to solve are classify types of mushrooms; and classify the mushrooms that are poison from kaggle 
        dataset. For problem classify types of mushrooms, the dataset that are using is images of types of 
        mushrooms and for problem classify the mushrooms that are poison, that are using tabular dataset.
    </p>
</div>
<!-- Overview description -->
{% endblock %}