{% extends "project_base.html" %}
{% block project_content %}
<div class="p-5">
    <h1>Credits</h1>
    <hr class="my-2"/>
    <br/>
    <h2>Datasets</h2>
    <hr class="my-2"/>
    <p class="lead">for the dataset you can check in <a href="https://github.com/SynitCool/Data-Science/tree/main/Covid19%20Indonesia/Predict%20New%20Cases/Dataset" target="_blank">here</a></p>
    <br/>
    <h2>Contributors</h2>
    <hr class="my-2"/>
    <lu>
        <li>SynitIsCool / me</li>
    </lu>
    <br/>
    <h2>Created</h2>
    <hr class="my-2"/>
    <p class="lead">June, 2021</p>
</div>
{% endblock %}