{% extends "project_base.html" %}
{% block project_content %}
<!-- The content of keyar-mining project -->
<div class="p-5">
    <!-- Title and description -->
    <title_description>
        <h1>The Content</h1>
        <hr class="my-2"/>
        <p class="lead">The content of keyar-mining for more info in 
            <a href="https://synitcool.github.io/keyar-mining/" target="_blank">here</a>
        </p>
    </title_description>
    <!-- Title and description -->
    <br/>
    <!-- Association rules -->
    <association_rules>
        <h2>Association Rules</h2>
        <hr class="my-2"/>
        <p class="lead">
            The association rules section of keyar-mining is about algorithms that are used for solving 
            association rules or market basket analysis, the algorithms for instances are apriori, fpgrowth, etc.
            For more info in <a href="https://synitcool.github.io/keyar-mining/association_rules/" target="_blank">here</a>
        </p>
    </association_rules>
    <!-- Association rules -->
    <br/>
    <!-- Regression -->
    <regression>
        <h2>Regression</h2>
        <hr class="my-2"/>
        <p class="lead">
            The regression section of keyar-mining is about algorithms that are used for solving regression 
            problem, the algorithms for instances are linear regression, etc. For more info in 
            <a href="https://synitcool.github.io/keyar-mining/regression/" target="_blank">here</a>
        </p>
    </regression>
    <!-- Regression -->
    <br/>
    <!-- Classification -->
    <classification>
        <h2>Classification</h2>
        <hr class="my-2"/>
        <p class="lead">
            The classification section of keyar-mining is about algorithms that are used to solving classification 
            problem, the algorithms for instances are K-Nearest Neighbor, Logistic Regression, etc. For more info in 
            <a href="https://synitcool.github.io/keyar-mining/classification/" target="_blank">here</a>
        </p>
    </classification>
    <!-- Classification -->
    <br/>
    <!-- Additional information -->
    <additional_information>
        <p class="lead">
            For more info in 
            <a href="https://synitcool.github.io/keyar-mining/" target="_blank">here</a>
        </p>
    </additional_information>
    <!-- Additional information -->
</div>
<!-- The content of keyar-mining project -->
{% endblock %}