{% extends "project_base.html" %}
{% block project_content %}
<!-- The credits of keyar-mining project -->
<div class="p-5">
    <!-- Title and description -->
    <title_description>
        <h1>Credits</h1>
        <hr class="my-2"/>
    </title_description>
    <!-- Title and description -->
    <br/>
    <!-- Links -->
    <links>
        <h2>Links</h2>
        <hr class="my-2"/>
        <lu>
            <li>Website: <a href="https://synitcool.github.io/keyar-mining/" target="_blank">https://synitcool.github.io/keyar-mining</a></li>
            <li>Pypi: <a href="https://pypi.org/project/keyar-mining" target="_blank">https://pypi.org/project/keyar-mining</a></li>
            <li>Repository: <a href="https://github.com/SynitCool/keyar-mining" target="_blank">https://github.com/SynitCool/keyar-mining</a></li>
        </lu>
    </links>
    <!-- links -->
    <br/>
    <!-- Contributors -->
    <contributors>
        <h2>Contributors</h2>
        <hr class="my-2"/>
        <lu>
            <li>SynitIsCool / me</li>
        </lu>
    </contributors>
    <!-- Contributors -->
    <br/>
    <!-- Created -->
    <created>
        <h2>Created</h2>
        <hr class="my-2"/>
        <p class="lead">October, 2021</p>
    </created>
    <!-- Created -->
</div>
<!-- The credits of keyar-mining project -->
{% endblock %}