{% extends "project_base.html" %}
{% block project_content %}
<!-- Overview of krmining project -->
<div class="p-5">
    <!-- Title and description -->
    <title_description>
        <h1 class="text-center">Overview Keyar-Mining Project</h1>
        <p class="lead text-center">
            Keyar-Mining is a python library for machine learning and data mining, and optimized using numpy 
            library and pandas library. Created for solving machine learning and data mining problem 
            such as Association Rules, Regression, Classification, Clustering. 
        </p>
    </title_description>
    <!-- Title and description -->
</div>
<!-- Overview of krmining project -->
{% endblock %}