{% extends "project_base.html" %}
{% block project_content %}
<div class="p-5">
    <h1 class="text-center">Overview Online Shoppers Project</h1>
    <p class="lead text-center">
        Online Shoppers Project is about project to classify which customer would buy the product or don't 
        buy the product based on the features in the dataset. In this project, i compared each model to 
        classify which buy the product or don't buy the product, i did some analysis of the dataset to 
        show description of the dataset and gives some information of the dataset, i did some feature 
        engineering to clean some data and select the features that good for the model.
    </p>
</div>
{% endblock %}