{% extends "base.html" %}
{% block title %}Synit Web{% endblock %}
{% block content %}
<div class="p-5 def-page text-light">
    <h2 class="text-center">SynitIsCool</h2>
    <hr class="my-2"/>
    <div class="row">
        <div class="col container text-center lead">
            <p>
                Hi, i'm synit aka me the owner of this website, this website is use to present my work like what 
                i worked on, what i'm working on, or about my api that i use for production to make some application 
                and can be use easily in any devices. I'm into AI field, i made some API or project related to AI 
                just for fun.
            </p>
            <p>
                If you see the picture in this page, yep you guess it that's me. Looks pretty cool, right
            </p>
            <p>
                I love to make machine learning API to solve the problem such as classification problem, clustering 
                problem, regression model, and many more that i'm using machine learning, also i love to make deep 
                leaning model from tensorflow module in python.
            </p>
        </div>
        <div class="col container text-center">
            <img  class="btn btn-outline-light btn-floating m-1" src="{{url_for('static', filename='assets/synit-is-cool-picture.jpeg')}}" width="300" height="300"/>
        </div>
        <div class="col container text-center lead">
            <p>
                I'm passionated with AI especially at machine learning, i hope in the future that i'm gonna do 
                big project about AI. But for now i'm still learning about machine learning and about data science
                like how data affect the model or the machine that learn.
            </p>
            <p>
                For now i'm learning about a lot of machine learning model and deep learning model too, and about 
                data science that i really passionated.
            </p>
            <p>
                Because of that the part of i'm learning about machine learning model i made the machine learning model 
                from scratch or from the lowest level like in the math and try to optimize the model, and i make it to 
                package or module machine learning model in python called <a class="link-info" href="https://synitcool.github.io/keyar-mining/">Keyar-mining</a>, 
                for now the model is still in development.
            </p>
        </div>
    </div>
    <br/>
</div>
{% endblock %}