{% extends "base_keyar.html" %}
{% block title %}Synit Web - Keyar Mining{% endblock %}
{% block content %}
<div class="flex-shrink-0 p-3">
    <p class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold">Keyar Mining</span>
    </p>
    <ul class="list-unstyled ps-0">
        <!-- Association Rules-->
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#association_rules-collapse" aria-expanded="false">
                Association Rules
            </button>
            <div class="collapse" id="association_rules-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/keyar-mining/api/association-rules/apriori" class="link-dark rounded">Apriori</a></li>
                    <li><a href="/keyar-mining/api/association-rules/fpgrowth" class="link-dark rounded">FPgrowth</a></li>
                    <li><a href="/keyar-mining/api/association-rules/evaluate" class="link-dark rounded">Evaluate</a></li>
                </ul>
            </div>
        </li>
        <!-- Classification -->
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#classification-collapse" aria-expanded="false">
                Classification
            </button>
            <div class="collapse" id="classification-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/keyar-mining/api/classification/knn" class="link-dark rounded">KNN</a></li>
                </ul>
            </div>
        </li>
        <!-- Clustering -->
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#clustering-collapse" aria-expanded="false">
                Clustering
            </button>
            <div class="collapse" id="clustering-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/keyar-mining/api/clustering/kmeans" class="link-dark rounded">KMeans</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
    </ul>
</div>
<br/>
{% block keyar_api_content %}
{% endblock %}
{% endblock %}