{% extends "base.html" %}
{% block title %}Synit Web{% endblock %}
{% block content %}
<div class="p-5 def-page text-light">
    <div class="container">
        <h1 class="display-5 text-center">Synit</h1>
        <hr class="my-2">
        <p class="lead text-center">A guy that like artificial intelligence and computer things</p>
    </div>
    <div class="row def-page text-light">
        <div class="col-sm">
            <p class="display-5 text-center">Project</p>
            <hr class="my-2">
            <p class="text-center">
                The project that i've worked on or The project that i currently work on and 
                also the source code about my project on my github page that you can see 
                and check out about the source code or you can give me a feed back for the source code
                or you can also participated to make or improve the project
            </p>
        </div>
        <div class="col-sm text-center def-page text-light">
            <p class="display-5 text-center">API</p>
            <hr class="my-2">
            <p class="text-center">
                The api that i use for production or applied the api to my application, you can also using 
                the api if you need and the source code also i put it on my github page that you can 
                give me a feed back for the source or you can also participated to make or improve the api
            </p>
        </div>
    </div>
</div>
<div class="p-5">
    <div class="container">
        <h1 class="display-5 text-center">About me</h1>
        <hr class="my-2">
        <p class="lead text-center">
            Hi, i'm synit and i like artificial intelligence, 
            in this website i'm gonna show you about me or who am i, 
            make machine learning api or make deep learning api,
            and what my project that currently i work on
        </p>
    </div>
</div>
{% endblock %}