{% extends "base.html" %}
{% block title %}Machine Learning API{% endblock %}
{% block content %}
<div class="flex-shrink-0 p-3">
    <p class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold">Machine Learning API</span>
    </p>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          Online Shopper
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/api/machine-learning/online_shopper" class="link-dark rounded">Online Shopper Api</a></li>
        </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
    </ul>
</div>
{% block api_contents %}{% endblock %}
{% endblock %}