{% extends "project_base.html" %}
{% block project_content %}
<!-- Content of covid-19 Indonesia project -->
<div class="p-5">
    <!-- Title and description -->
    <title_description>
        <h1>The Content</h1>
        <hr class="my-2" />
        <p class="lead" >These are the content of Covid-19 Indonesia Project</p>
    </title_description>
    <!-- Title and description -->
    <br/>
    <!-- Exploratory data analysis -->
    <exploratory_data_analysis>
        <h2>Exploratory Data Analysis</h2>
        <hr class="my-2" />
        <p class="lead">
            In this Exploratory Data Analysis in Covid-19 Indonesia, i made some analysis about 
            covid-19 in Indonesia, i visualize some to show description of the dataset, and make some conclusion 
            of the analysis. In this analysis to show covid-19 in Indonesia how good Indonesia handle covid-19 
            based on this dataset.
        </p>
    </exploratory_data_analysis>
    <!-- Exploratory data analysis -->
    <br/>
    <!-- Feature engineering -->
    <feature_engineering>
        <h2>Feature Engineering</h2>
        <hr class="my-2"/>
        <p class="lead">
            For Feature Engineering in Covid-19 Indonesia project, i cleaned the data, i removed features 
            that is useless for modelling, i selected features that is usefull for modelling and making some 
            conclusion about the dataset.
        </p>
    </feature_engineering>
    <!-- Feature engineering -->
    <br/>
    <!-- Modelling predict -->
    <modelling_predict>
        <h2>Modelling Predict</h2>
        <hr class="my-2"/>
        <p class="lead">
            In modelling in Covid-19 Indonesia project, i made some modelling and compare them to show the 
            best model for this dataset, i made some conclusion about the modelling, i made some k-fold model 
            selection to show how good model to predict of different training data and validation data and made 
            conclusion of k-fold model selection to show best model for this dataset.
        </p>
    </modelling_predict>
    <!-- Modelling predict -->
    <br/>
    <!-- Modelling clustering -->
    <modelling_clustering>
        <h2>Modelling Clustering</h2>
        <hr class="my-2"/>
        <p class="lead">
            In modelling in Covid-19 Indonesia project, i also clustered for each province in Indonesia to show 
            how good each province handle covid-19 in the province, i made some conclusion of the clustering, i 
            compared how much clustering good for this dataset.
        </p>
    </modelling_clustering>
    <!-- Modelling clustering -->
</div>
<!-- Content of covid-19 Indonesia project -->
{% endblock %}