{% extends "project_base.html" %}
{% block project_content %}
<!-- The credits of covid-19 Indonesia project -->
<div class="p-5">
    <!-- Title and description -->
    <title_description>
        <h1>Credits</h1>
        <hr class="my-2"/>
    </title_description>
    <!-- Title and description -->
    <br/>
    <!-- Dataset -->
    <dataset>
        <h2>Dataset</h2>
        <hr class="my-2"/>
        <p class="lead">for the dataset you can check in <a href="https://github.com/SynitCool/Data-Science/tree/main/Covid19%20Indonesia/Predict%20New%20Cases/Dataset" target="_blank">here</a></p>
    </dataset>
    <!-- Dataset -->
    <br/>
    <!-- Repository -->
    <repository>
    <h3>Repository</h3>
        <hr class="my-2"/>
        <p class="lead">for the repository you can check in <a href="https://github.com/SynitCool/Data-Science/tree/main/Covid19%20Indonesia" target="_blank">here</a></p>
    </repository>
    <!-- Repository -->
    <br/>
    <!-- Contributors -->
    <contributors>
        <h2>Contributors</h2>
        <hr class="my-2"/>
        <lu>
            <li>SynitIsCool / me</li>
        </lu>
    </contributors>
    <!-- Contributors -->
    <br/>
    <!-- Created -->
    <created>
        <h2>Created</h2>
        <hr class="my-2"/>
        <p class="lead">June, 2021</p>
    </created>
    <!-- Created -->
</div>
<!-- The credits of covid-19 Indonesia project -->
{% endblock %}