{% extends "project_base.html" %}
{% block project_content %}
<!-- Overview of covid-19 Indonesia project -->
<div class="p-5">
    <!-- Title and description -->
    <title_description>
        <h1 class="text-center">Overview Covid-19 Indonesia Project</h1>
        <p class="lead text-center">
            The project is about to make analysis about covid-19 in Indonesia, analysis for each 
            province in Indonesia, making model machine learning to predict. In this project i clustered them 
            to show how good of each province to handle covid-19 in the province. In this project i compared of 
            each model how fit to the dataset, i analysis covid-19 in Indonesia based on this dataset.
        </p>
    </title_description>
    <!-- Title and description -->
</div>
<!-- Overview of covid-19 Indonesia project -->
{% endblock %}