{% extends "base.html" %}
{% block title%}Collections{% endblock %}
{% block content %}
<div class="p-5">
    <h1>My Collections</h1>
    <hr/>
    <p class="lead">
        My collections that i got from my experience till now
    </p>
    <br/>
    <h2>Hackathon</h2>
    <hr/>
    <p class="lead">
        The hackathon competition that i've taken part of, to be honest this is so fun to take 
        part of hackathon competition, it's so fun to take part of hackathon competition and i 
        recommend you to take part of also, eventhough i would not be the winner.
    </p>
    <br/>
    <h3>Hackathon BPJS Kesehatan 2021 top 20</h3>
    <hr/>
    <p class="lead">
        september, 2021
    </p>
    <br/>
    <h3>Hackathon Bigdata BPS 2021</h3>
    <hr/>
    <p class="lead">
        september, 2021
    </p>
</div>
{% endblock %}