{% extends "base.html" %}
{% block title%}Collections{% endblock %}
{% block content %}
<div class="p-5">
    <collections>
        <!-- Base Title -->
        <h1>My Collections</h1>
        <hr/>
        <p class="lead">
            My collections that i got from my experience till now
        </p>
        <br/>
        <!-- This is Hackathon Section -->
        <hackathon>
            <h2>Hackathon</h2>
            <hr/>
            <p class="lead">
                The hackathon competition that i've taken part of, to be honest this is so fun to take 
                part of hackathon competition, it's so fun to take part of hackathon competition and i 
                recommend you to take part of also, eventhough i would not be the winner.
            </p>
            <br/>
            <h3>Hackathon BPJS Kesehatan 2021 top 20</h3>
            <hr/>
            <p class="lead">
                September, 2021
            </p>
            <br/>
            <h3>Hackathon Bigdata BPS 2021</h3>
            <hr/>
            <p class="lead">
                September, 2021
            </p>
            <br/>
        </hackathon>
        <course>
            <h2>Course</h2>
            <hr/>
            <p class="lead">
                The courses that i did to learn new skill and also they gave me certifications of complete 
                the courses. The courses are high quality, and i recommended you to do it as well, and it's 
                worth it after all.
            </p>
            <br/>
            <h3>Freecodecamp Data Analysis with Python</h3>
            <hr/>
            <p class="lead">
                May, 2021
            </p>
            <br/>
            <h3>Freecodecamp Tensorflow Machine Learning</h3>
            <hr/>
            <p class="lead">
                on going.
            </p>
        </course>
    </collections>
</div>
{% endblock %}