{% extends "base_keyar_api.html" %}
{% block title %}Synit Web - Keyar Mining{% endblock %}
{% block keyar_api_content %}
<div class="p-5">
    <!-- Overview Apriori -->
    <overview>
        <h1 class="h1">Apriori Algorithm</h1>
        <p class="lead">
            Apriori is an algorithm for frequent item set mining and association rule learning 
            over relational databases. It proceeds by identifying the frequent individual items in 
            the database and extending them to larger and larger item sets as long as those item sets 
            appear sufficiently often in the database. The frequent item sets determined by Apriori can be 
            used to determine association rules which highlight general trends in the database: this has 
            applications in domains such as market basket analysis.
        </p>
        <p>source : wikipedia</p>
    </overview>
    <br/>
    <!-- Methods, Attributes, and Parameter -->
    <info>
        <div class="row">
            <div class="col-sm">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Methods</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">apriori</th>
                            <td scope="row">
                                supports of apriori algorithm.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Attributes</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">None</th>
                            <td scope="row">None</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Parameters</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">df</th>
                            <td scope="row">
                                type : pandas.DataFrame <br/>
                                desc : dataframe to get into algorithm.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">max_length</th>
                            <td scope="row">
                                type : int <br/> 
                                optional : any int greater than 0 <br/>
                                desc : max length for combinations. The default is 5.                    
                        </td>
                        </tr>
                        <tr>
                            <th scope="row">min_support</th>
                            <td scope="row">
                                type : float <br/>
                                optional : any float greater than 0 <br/>
                                desc : min support to selection. The default is 0.5.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">return_df</th>
                            <td scope="row">
                                type : bool <br/> 
                                optional : False or True <br/>
                                desc : return as pandas dataframe. The default is False
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </info>
    <br/>
    <!-- How To -->
    <howto>
        <h2 class="h2">How To</h2>
        <p class="lead">For trying to use the code you can follow the full code in the below</p>
        <code>
            <pre>
                from krmining.association_rules._apriori import apriori
                from krmining.datasets import make_fruit_sold_dummy_association_rules
                
                df = make_fruit_sold_dummy_association_rules()
                max_length = 2

                apriori(df, max_length=max_length, return_df=True)
            </pre>
        </code>
    </howto>
</div>
{% endblock %}