{% extends "project_base.html" %}
{% block project_content %}
<div class="p-5">
    <div>
        <h1 class="text-center" >Overview Projects</h1>
        <p class="lead text-center">
            These are my projects that i worked on or the project that i'm doing right now, you can also
            give me feedback about my projects that i worked on or the project i'm working on, and you can 
            also contribute into my projects or makes changes to my projects, if you want to check out my 
            projects you can check into my github account
        </p>
    </div>
</div>
{% endblock %}