{% extends "base_keyar_api.html" %}
{% block title %}Synit Web - Keyar Mining{% endblock %}
{% block keyar_api_content %}
<!-- Overview Api -->
<div class="p-5">
    <h1 class="h1 text-center">APIs Overview</h1>
    <p class="lead text-center">
        The Apis are made for machine learning and data mining and this is for anyone that want to try 
        use the apis that i made, you can also take participations as contributors to maintain the 
        apis that i made. The apis are in early version, so may there are some bugs or slow process 
        execution or extended memory.
    </p>
</div>
{% endblock %}