{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="p-5" style="background-color: rgb(180, 0, 0);">
    <div class="container">
        <h1 class="display-5 text-center" style="color: aliceblue;">Synit Web</h1>
        <p class="lead text-center" style="color: aliceblue;">
            The API that i made is use for specific dataset, you can also get the model or architecture that
            i use for training the dataset or you can use the pretrained model that already train for 
            specific dataset.       
        </p>
    </div>
    <div class="row">
        <div class="col-sm">
            <p class="display-5 text-center" style="color: aliceblue">Machine Learning</p>
        </div>
        <div class="col-sm">
            <p class="display-5 text-center" style="color: aliceblue;">Deep Learning</p>

        </div>
    </div>
</div>
{% endblock %}