{% extends "base.html" %}
{% block title %}Synit Web{% endblock %}
{% block content %}
<div class="flex-shrink-0 p-3">
    <p class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold">Projects</span>
    </p>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          Netflix
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/project/netflix/overview" class="link-dark rounded">Overview</a></li>
            <li><a href="/project/netflix/content" class="link-dark rounded">Content</a></li>
            <li><a href="/project/netflix/credit" class="link-dark rounded">Credit</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Covid-19 Indonesia Project
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/project/cvd19-ind/overview" class="link-dark rounded">Overview</a></li>
            <li><a href="/project/cvd19-ind/content" class="link-dark rounded">Content</a></li>
            <li><a href="/project/cvd19-ind/credit" class="link-dark rounded">Credit</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Online Shoppers
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">New</a></li>
            <li><a href="#" class="link-dark rounded">Processed</a></li>
            <li><a href="#" class="link-dark rounded">Shipped</a></li>
            <li><a href="#" class="link-dark rounded">Returned</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
    </ul>
</div>
{% block project_content %}
{% endblock %}
{% endblock %}