{% extends "base.html" %}
{% block title %}Synit Web{% endblock %}
{% block content %}
<div class="p-5" style="background-color: rgb(180, 0, 0);">
    <h2 class="text-center" style="color:aliceblue">SynitIsCool</h2>
    <hr class="my-2"/>
    <p class="lead text-center" style="color:aliceblue">
        Hi, i'm synit aka me the owner of this website, this website is use to present my work like what 
        i worked on, what i'm working on, or about my api that i use for production to make some application 
        and can be use easily in any devices. I'm into AI field, i made some API or project related to AI 
        just for fun.
    </p>
    <br/>
    <h2 class="text-center" style="color:aliceblue">Follow Me</h2>
    <hr/>
    <p class="lead text-center" style="color:aliceblue">
        You can follow me for any updates for future projects
    </p>
    <div class="row">
        <div class="col-sm">
            <p class="text-center">
                <a href="https://www.github.com/SynitCool" target="_blank">
                  <img src="{{url_for('static', filename='assets/github-logo.png')}}" width=100 height=100/>
                </a>
            </p>
        </div>
        <div class="col-sm">
            <p class="text-center">
                <a href="https://www.kaggle.com/synitiscool" target="_blank">
                  <img src="{{url_for('static', filename='assets/kaggle-logo.png')}}" width=100 height=100/>
                </a>
            </p>
        </div>
        <div class="col-sm">
            <p class="text-center">
                <a href="https://www.freecodecamp.org/fcc486c4e09-f778-4dc6-a365-79de7a9a19d8" target="_blank">
                  <img src="{{url_for('static', filename='assets/fcc-logo.png')}}" width=100 height=100/>
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}