{% extends "mlPage_base.html" %}
{% block api_contents %}
<div class="p-5">
    <h1 class="text-center">Overview</h1>
    <p class="lead text-center">
        These are my machine learning api that mostly i made this for my production, but 
        i want to try to share the api that i made. The api is about machine learning model that 
        i've already trained, you can also take part of my api machine learning model if you want to, 
        you can check of my github pages about my api that i made, or you can give me some feedback so 
        i can be better next time.
    </p>
</div>
{% endblock %}